
@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>

@Html.ActionLink("Show all blogposts", "Index", "Blogpost")
<br />
@Html.ActionLink("Show blogposts by author", "ShowByAuthor", "Blogpost")
<br />
@Html.ActionLink("Create new blogpost", "Index", "Blogpost")